In [1]:
import pandas as pd

In [2]:
clients = pd.read_sas('data/anagrf_srs_an.sas7bdat'
                      , index='Klient_ID', encoding='unicode_escape')

In [3]:
clients_contracts = pd.read_sas('data/a_to_c_srs_an.sas7bdat'
                                , index='Klient_ID', encoding='unicode_escape')

In [4]:
contracts = pd.read_sas('data/cntrct_srs_an.sas7bdat'
                       , index='Contract_ID', encoding='unicode_escape')

## Combining data sources
- `merge`: SQL-style (join two tables/dataframes in given columns).
- `join`: performs a join on indices.
- `concat`: puts together everything without checking for duplicates.

#### Joining on indices

In [40]:
df = pd.merge(clients, 
              clients_contracts, 
              how='outer', left_index=True, right_index=True, 
             validate='one_to_many')

In [15]:
df.shape

(471692, 5)

In [18]:
df1 = clients.join(clients_contracts) # Equivalent to the above ==> Needs to join on indices

#### Join on non-index column

In [21]:
data = pd.merge(clients_contracts, contracts, how='left', left_on='Contract_ID', right_index=True)

In [22]:
all_data = pd.merge(clients, data, how='left', left_index=True, right_index=True)

In [27]:
clients.index

Index(['K_000001', 'K_000002', 'K_000003', 'K_000004', 'K_000005', 'K_000006',
       'K_000007', 'K_000008', 'K_000009', 'K_000010',
       ...
       'K_099991', 'K_099992', 'K_099993', 'K_099994', 'K_099995', 'K_099996',
       'K_099997', 'K_099998', 'K_099999', 'K_100000'],
      dtype='object', name='Klient_ID', length=100000)

In [35]:
clients_dedup = clients.drop_duplicates()

In [36]:
clients.shape == clients_dedup.shape

False

In [37]:
clients.shape

(100000, 3)

In [38]:
clients_dedup.shape

(37360, 3)

In [42]:
clients.index[clients.index.duplicated()]

Index([], dtype='object', name='Klient_ID')

In [43]:
clients_contracts.index[clients_contracts.index.duplicated()]

Index(['K_071210', 'K_036798', 'K_006520', 'K_018397', 'K_016680', 'K_047932',
       'K_026633', 'K_039827', 'K_052798', 'K_073678',
       ...
       'K_094170', 'K_064526', 'K_053855', 'K_094053', 'K_043115', 'K_042919',
       'K_084589', 'K_075796', 'K_006494', 'K_018647'],
      dtype='object', name='Klient_ID', length=371692)

In [49]:
all_data.drop_duplicates(subset=['Contract_ID'], keep='first') # Keeps first record of a contract per client

,SEX,TIPO_FINZ_GARN,DAT_NSC,COD_LGM,Contract_ID,COD_FASE_OPE,COD_TIPO_OPE,COD_STT_OPE,DAT_INS,DAT_INZ_OPE,DAT_END_OPE_P,DAT_END_OPE,Instit_ID
Klient_ID,,,,,,,,,,,,,
K_000001,M,1,1980-12-21,A,S_077650,UP,OU,NaN,17223.0,17244.0,19409.0,17470.0,H_002
K_000001,M,1,1980-12-21,A,S_123622,EX,HU,NaN,18532.0,18557.0,29570.0,NaN,H_018
K_000001,M,1,1980-12-21,A,S_424532,EX,KS,NaN,18651.0,18653.0,NaN,NaN,H_008
K_000002,Z,1,1986-12-29,A,S_437852,EX,OU,NaN,17223.0,17223.0,19771.0,NaN,H_005
K_000003,Z,2,1968-01-27,A,S_253038,EX,FL,NaN,17224.0,17226.0,19052.0,NaN,L_023
K_000004,Z,1,1982-10-22,A,S_139244,EX,SU,NaN,18574.0,18574.0,22234.0,NaN,H_003
K_000004,Z,1,1982-10-22,A,S_437873,UK,SU,NaN,17227.0,17231.0,17611.0,17611.0,H_003
K_000004,Z,1,1982-10-22,A,S_443301,UK,KK,NaN,18184.0,18184.0,18369.0,18371.0,H_003
K_000005,M,1,1984-10-19,A,S_172650,UK,SU,NaN,17200.0,17200.0,17931.0,17956.0,L_026
K_000005,M,1,1984-10-19,A,S_369179,UK,HU,NaN,17297.0,17280.0,17587.0,17591.0,H_002
K_000005,M,1,1984-10-19,A,S_391836,EX,HU,NaN,17230.0,17280.0,28088.0,NaN,H_002
K_000006,M,1,1966-08-27,S,S_116109,UK,ST,NaN,17234.0,17289.0,25166.0,17825.0,H_021
K_000006,M,1,1966-08-27,A,S_131090,EX,HU,NaN,17340.0,17290.0,20027.0,NaN,H_005
K_000007,Z,2,1964-03-14,A,S_000023,UK,IU,NaN,17232.0,17275.0,18371.0,18382.0,L_034
K_000008,M,1,1949-04-17,A,S_013090,EX,OU,NaN,17770.0,17770.0,20317.0,NaN,H_005
K_000008,M,1,1949-04-17,A,S_048439,UK,KK,NaN,17232.0,17233.0,NaN,17987.0,H_008
K_000008,M,1,1949-04-17,A,S_062708,EX,OU,NaN,18007.0,18007.0,20559.0,NaN,H_005
K_000008,M,1,1949-04-17,A,S_087254,ZD,RU,NaN,18651.0,NaN,NaN,NaN,L_041
K_000008,M,1,1949-04-17,A,S_192295,EX,SU,NaN,18154.0,18156.0,19986.0,NaN,H_003
K_000008,M,1,1949-04-17,A,S_207897,UK,KS,NaN,18432.0,18272.0,NaN,18497.0,L_042
K_000008,M,1,1949-04-17,A,S_282917,EX,OU,NaN,18414.0,18415.0,19889.0,NaN,L_043
K_000008,M,1,1949-04-17,A,S_283074,UK,SU,NaN,18431.0,18059.0,18412.0,18412.0,L_042
K_000008,M,1,1949-04-17,A,S_306200,EX,KU,NaN,18423.0,18402.0,NaN,NaN,H_005
K_000008,M,1,1949-04-17,A,S_351878,EX,SU,NaN,18338.0,18339.0,20167.0,NaN,H_003
K_000008,M,1,1949-04-17,A,S_442987,EX,KS,NaN,18108.0,18108.0,NaN,NaN,H_005
K_000008,M,1,1949-04-17,A,S_447258,EX,KS,NaN,18610.0,18581.0,NaN,NaN,L_043
K_000009,M,1,1946-05-13,A,S_046369,UP,SU,D,18555.0,17233.0,17515.0,18078.0,L_027
K_000009,M,1,1946-05-13,A,S_215333,UP,SU,D,17233.0,17233.0,17515.0,18078.0,H_004
K_000010,Z,1,1967-07-22,A,S_008479,EX,SU,NaN,18556.0,18139.0,19210.0,NaN,L_027
K_000010,Z,1,1967-07-22,A,S_063577,EX,SU,NaN,18177.0,18139.0,19210.0,NaN,H_004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
K_099988,Z,1,1948-03-26,A,S_137855,OD,OU,NaN,18528.0,NaN,NaN,NaN,H_004
K_099988,Z,1,1948-03-26,A,S_282351,UK,SU,NaN,18317.0,17496.0,18111.0,18140.0,L_027
K_099989,M,2,1977-01-21,A,S_420482,UK,SU,NaN,18220.0,17406.0,18502.0,18505.0,L_026
K_099990,M,2,1962-02-11,A,S_083282,EX,SU,NaN,18227.0,18231.0,20422.0,NaN,L_036
K_099991,Z,1,1988-03-07,A,S_006351,OD,OU,NaN,18373.0,NaN,NaN,NaN,H_004
K_099991,Z,1,1988-03-07,A,S_074587,OD,KS,NaN,18415.0,NaN,NaN,NaN,H_008
K_099991,Z,1,1988-03-07,A,S_179308,DO,SU,NaN,18400.0,18371.0,20563.0,NaN,H_003
K_099991,Z,1,1988-03-07,A,S_282672,DO,SU,NaN,18371.0,18371.0,20563.0,NaN,H_003
K_099991,Z,1,1988-03-07,A,S_328980,OD,OU,NaN,18366.0,NaN,NaN,NaN,H_004
K_099991,Z,1,1988-03-07,A,S_398152,EX,KU,NaN,18390.0,18374.0,NaN,NaN,H_004
K_099991,Z,1,1988-03-07,A,S_421208,EX,OU,NaN,18390.0,18374.0,19884.0,NaN,H_004
K_099991,Z,1,1988-03-07,A,S_470491,EX,OU,NaN,18645.0,18609.0,20798.0,NaN,H_004
K_099992,Z,1,1967-05-12,A,S_055272,EX,KS,NaN,18432.0,18163.0,NaN,NaN,L_042
K_099992,Z,1,1967-05-12,A,S_194594,EX,SU,NaN,18550.0,18540.0,19159.0,NaN,L_043
K_099992,Z,1,1967-05-12,A,S_235476,EX,ST,NaN,18234.0,18241.0,NaN,NaN,H_016
K_099993,M,2,1984-06-29,A,S_235484,EX,FL,NaN,18238.0,18241.0,19337.0,NaN,L_025
K_099994,Z,1,1980-09-26,A,S_136497,EX,SU,NaN,18338.0,18344.0,19440.0,NaN,L_030
K_099995,M,2,1992-05-20,A,S_025242,EX,SU,NaN,18248.0,18259.0,19719.0,NaN,L_023
K_099995,M,2,1992-05-20,A,S_470118,EX,SU,NaN,18589.0,18591.0,20051.0,NaN,L_023
K_099996,M,1,1949-06-02,A,S_044451,EX,HU,NaN,18255.0,17755.0,21806.0,NaN,H_011
K_099996,M,1,1949-06-02,A,S_374429,UP,HU,NaN,18255.0,17471.0,21806.0,18262.0,H_011
K_099997,M,1,1960-08-04,A,S_351687,EX,OU,NaN,18302.0,18269.0,20839.0,NaN,H_005
K_099998,Z,1,1972-12-28,A,S_063938,UP,HU,NaN,18270.0,18354.0,27864.0,18413.0,H_002
K_099998,Z,1,1972-12-28,A,S_074022,DO,HU,NaN,18323.0,NaN,NaN,NaN,H_005
K_099998,Z,1,1972-12-28,A,S_282948,EX,HU,NaN,18422.0,18383.0,27910.0,NaN,H_005
K_099999,M,2,1967-12-28,A,S_093140,EX,IU,NaN,18275.0,18288.0,19378.0,NaN,H_013
K_100000,Z,1,1979-12-21,A,S_015603,EX,KK,NaN,18282.0,17199.0,NaN,NaN,H_003
K_100000,Z,1,1979-12-21,A,S_034893,EX,KU,NaN,18282.0,16846.0,NaN,NaN,H_003
K_100000,Z,1,1979-12-21,A,S_206948,EX,SU,NaN,18282.0,17247.0,19078.0,NaN,H_003
K_100000,Z,1,1979-12-21,A,S_374522,EX,SU,NaN,18282.0,18023.0,20600.0,NaN,H_003

In [51]:
all_data.sort_values(by='SEX', ascending=False) # Index can also be sorted in the same way, .sort_index

,SEX,TIPO_FINZ_GARN,DAT_NSC,COD_LGM,Contract_ID,COD_FASE_OPE,COD_TIPO_OPE,COD_STT_OPE,DAT_INS,DAT_INZ_OPE,DAT_END_OPE_P,DAT_END_OPE,Instit_ID
Klient_ID,,,,,,,,,,,,,
K_100000,Z,1,1979-12-21,A,S_374522,EX,SU,NaN,18282.0,18023.0,20600.0,NaN,H_003
K_040950,Z,1,1953-08-27,A,S_113787,UK,OU,D,16876.0,16876.0,17377.0,18049.0,H_005
K_040950,Z,1,1953-08-27,A,S_186053,UK,OU,D,17104.0,17104.0,17285.0,17837.0,H_005
K_040950,Z,1,1953-08-27,A,S_194543,EX,OU,F,18547.0,18507.0,18507.0,NaN,H_005
K_040950,Z,1,1953-08-27,A,S_343115,UK,KS,NaN,16891.0,16879.0,NaN,18143.0,H_005
K_040950,Z,1,1953-08-27,A,S_432680,UK,OU,D,16648.0,16636.0,17285.0,17867.0,H_005
K_040950,Z,1,1953-08-27,A,S_453831,UK,KU,F,16436.0,16419.0,NaN,18506.0,H_005
K_040952,Z,1,1963-12-20,S,S_112254,UP,OU,NaN,16425.0,16427.0,18262.0,18231.0,H_005
K_040953,Z,1,1952-09-18,A,S_073110,EX,OU,NaN,18103.0,18072.0,20808.0,NaN,H_005
K_040953,Z,1,1952-09-18,A,S_074426,EX,KS,NaN,18390.0,18371.0,NaN,NaN,H_005
K_040953,Z,1,1952-09-18,A,S_109963,UK,SU,NaN,18556.0,17678.0,17990.0,18017.0,L_027
K_040953,Z,1,1952-09-18,A,S_199169,UP,OU,NaN,16961.0,16961.0,19162.0,17744.0,H_005
K_040953,Z,1,1952-09-18,A,S_245800,EX,KU,NaN,16436.0,17365.0,NaN,NaN,H_005
K_040953,Z,1,1952-09-18,A,S_279215,UK,SU,NaN,17678.0,17678.0,17990.0,18017.0,H_004
K_040953,Z,1,1952-09-18,A,S_294555,EX,ST,NaN,16648.0,15662.0,NaN,NaN,H_019
K_040953,Z,1,1952-09-18,S,S_433320,UP,OU,NaN,16679.0,16672.0,18861.0,17744.0,H_005
K_040954,Z,1,1951-03-05,S,S_169020,UP,OU,NaN,16420.0,16425.0,17897.0,17713.0,H_005
K_079104,Z,1,1984-04-20,A,S_454346,UK,KU,NaN,16495.0,16422.0,17500.0,17532.0,H_003
K_079104,Z,1,1984-04-20,A,S_136500,EX,SU,NaN,18339.0,18340.0,19801.0,NaN,L_030
K_079104,Z,1,1984-04-20,A,S_089575,EX,KU,NaN,17582.0,17540.0,NaN,NaN,H_003
K_079104,Z,1,1984-04-20,A,S_011419,EX,KS,NaN,17479.0,17493.0,NaN,NaN,H_008
K_079103,Z,1,1978-12-17,A,S_408127,EX,KK,NaN,16495.0,16408.0,NaN,NaN,H_003
K_040956,Z,1,1979-09-17,A,S_023411,EX,SU,NaN,17869.0,17870.0,20442.0,NaN,H_003
K_040956,Z,1,1979-09-17,A,S_050762,EX,KU,NaN,17587.0,17587.0,NaN,NaN,H_003
K_040956,Z,1,1979-09-17,A,S_134848,EX,SU,NaN,17986.0,17988.0,19534.0,NaN,H_011
K_040956,Z,1,1979-09-17,A,S_178183,UK,ST,NaN,18162.0,18171.0,27996.0,18562.0,H_015
K_040956,Z,1,1979-09-17,A,S_281765,EX,ST,NaN,18159.0,18171.0,26778.0,NaN,H_015
K_040950,Z,1,1953-08-27,A,S_132965,UK,OU,D,17638.0,17455.0,18141.0,18141.0,H_005
K_040950,Z,1,1953-08-27,A,S_056134,EX,OU,F,18555.0,17605.0,17768.0,NaN,L_027
K_040957,Z,1,1973-08-15,S,S_210786,UP,OU,NaN,15830.0,15832.0,17607.0,17225.0,H_005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
K_045328,M,1,1978-05-26,A,S_095809,UP,KS,NaN,18557.0,17024.0,NaN,17409.0,L_027
K_045327,M,1,1970-07-07,A,S_449314,EX,KU,NaN,15583.0,15582.0,NaN,NaN,H_003
K_045327,M,1,1970-07-07,A,S_321153,UK,OU,NaN,17044.0,17022.0,18563.0,18566.0,H_004
K_045327,M,1,1970-07-07,A,S_303607,UK,ST,NaN,17910.0,17897.0,NaN,18102.0,H_019
K_045327,M,1,1970-07-07,A,S_270228,UK,KU,NaN,16587.0,16572.0,NaN,18535.0,H_004
K_045327,M,1,1970-07-07,A,S_170501,UK,ST,NaN,16880.0,16890.0,NaN,17897.0,H_019
K_045324,M,1,1963-05-24,A,S_457440,EX,KS,NaN,16801.0,16792.0,NaN,NaN,H_002
K_045324,M,1,1963-05-24,A,S_367838,EX,KU,NaN,17105.0,17093.0,NaN,NaN,H_003
K_045330,M,1,1950-05-10,A,S_338273,UK,ON,NaN,16405.0,16404.0,NaN,17591.0,H_002
K_045331,M,1,1978-02-08,A,S_046204,EX,SU,NaN,18536.0,18539.0,20717.0,NaN,H_002
K_045334,M,1,1966-11-20,A,S_024237,UK,ON,N,18032.0,17993.0,NaN,18109.0,H_011
K_045331,M,1,1978-02-08,A,S_254409,UK,KS,NaN,17424.0,17379.0,NaN,18566.0,H_002
K_045334,M,1,1966-11-20,A,S_010059,EX,KS,F,17274.0,16743.0,NaN,NaN,H_011
K_045333,M,1,1977-07-08,A,S_436840,UK,KK,NaN,17074.0,17069.0,NaN,17805.0,H_008
K_045333,M,1,1977-07-08,A,S_421183,EX,HU,NaN,18386.0,18415.0,30131.0,NaN,H_006
K_045333,M,1,1977-07-08,A,S_318784,UK,KU,NaN,16770.0,16751.0,NaN,17713.0,H_004
K_045333,M,1,1977-07-08,A,S_223558,UK,SU,NaN,18556.0,16912.0,17225.0,17225.0,L_027
K_045333,M,1,1977-07-08,A,S_212210,UK,SU,NaN,16651.0,16651.0,18505.0,17686.0,H_011
K_045333,M,1,1977-07-08,A,S_205859,EX,ST,NaN,18045.0,18067.0,NaN,NaN,H_017
K_045333,M,1,1977-07-08,A,S_198255,UP,OU,NaN,16751.0,16751.0,18951.0,17713.0,H_004
K_045333,M,1,1977-07-08,A,S_184100,UK,ON,NaN,16733.0,16733.0,NaN,17686.0,H_011
K_045333,M,1,1977-07-08,A,S_113963,UK,SU,NaN,16912.0,16912.0,17225.0,17225.0,H_004
K_045333,M,1,1977-07-08,A,S_017187,EX,KU,NaN,18520.0,18521.0,NaN,NaN,H_011
K_045331,M,1,1978-02-08,A,S_424055,ZD,HU,NaN,18589.0,NaN,NaN,NaN,H_005
K_045331,M,1,1978-02-08,A,S_394411,EX,KU,NaN,17638.0,17618.0,NaN,NaN,H_005
K_045331,M,1,1978-02-08,A,S_295515,EX,HU,NaN,16770.0,16747.0,25901.0,NaN,H_005
K_045331,M,1,1978-02-08,A,S_287825,EX,KS,NaN,15460.0,15425.0,NaN,NaN,H_009
K_045331,M,1,1978-02-08,A,S_280621,UP,OU,NaN,17945.0,17912.0,20077.0,18566.0,H_002
K_045331,M,1,1978-02-08,A,S_272402,UP,OU,NaN,16770.0,16743.0,18555.0,18413.0,H_002
K_052465,M,1,1956-11-14,A,S_157040,EX,KU,NaN,16993.0,16996.0,NaN,NaN,H_013